@model MakerTracker.DBModels.Transaction

@{
    ViewData["Title"] = "Transaction Details";
}

<h1>Details</h1>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.From.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.To.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmationCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfirmationCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
